{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <section class="hero fade-in-up">
            <h1>MorozkoNB</h1>
            <p>Открой мороз настоящей якутии! Пусть ваши рецепторы взорвутся!</p>
            <a href="/catalog" class="cta-button">Посмотреть каталог</a>
        </section>
        
        <section class="cards">
            <div class="card fade-in-up">
                <h3>😋 Вкусно</h3>
                <p>Вкуснейшие продукты от лучших поваров</p>
            </div>
            <div class="card fade-in-up">
                <h3>🕒 Доступно</h3>
                <p>Доставака по всему улусу! Доставим в каждый уголок</p>
            </div>
        </section>
    </div>
</main>
{% endblock %}